-- DropForeignKey
ALTER TABLE "InspectionAttachment" DROP CONSTRAINT "InspectionAttachment_inspectionId_fkey";

-- DropForeignKey
ALTER TABLE "InspectionAuditLog" DROP CONSTRAINT "InspectionAuditLog_inspectionId_fkey";

-- DropForeignKey
ALTER TABLE "InspectionAuditLog" DROP CONSTRAINT "InspectionAuditLog_userId_fkey";

-- DropForeignKey
ALTER TABLE "InspectionReminder" DROP CONSTRAINT "InspectionReminder_inspectionId_fkey";

-- DropForeignKey
ALTER TABLE "InspectionReminder" DROP CONSTRAINT "InspectionReminder_userId_fkey";

-- DropForeignKey
ALTER TABLE "Job" DROP CONSTRAINT "Job_inspectionId_fkey";

-- DropForeignKey
ALTER TABLE "OwnerProfile" DROP CONSTRAINT "OwnerProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "PropertyManagerProfile" DROP CONSTRAINT "PropertyManagerProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "TechnicianProfile" DROP CONSTRAINT "TechnicianProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "TenantProfile" DROP CONSTRAINT "TenantProfile_userId_fkey";

-- DropForeignKey
ALTER TABLE "User" DROP CONSTRAINT "User_orgId_fkey";

-- DropIndex
DROP INDEX "Job_inspectionId_idx";

-- AlterTable
ALTER TABLE "Inspection" ALTER COLUMN "propertyId" DROP NOT NULL,
DROP COLUMN "photos",
ADD COLUMN     "photos" JSONB;

-- AlterTable
ALTER TABLE "Job" DROP COLUMN "inspectionId";

-- AlterTable
ALTER TABLE "ServiceRequest" DROP COLUMN "photos",
ADD COLUMN     "photos" JSONB;

-- AlterTable
ALTER TABLE "User" DROP COLUMN "company",
DROP COLUMN "orgId",
DROP COLUMN "subscriptionPlan",
DROP COLUMN "subscriptionStatus",
DROP COLUMN "trialEndDate";

-- DropTable
DROP TABLE "InspectionAttachment";

-- DropTable
DROP TABLE "InspectionAuditLog";

-- DropTable
DROP TABLE "InspectionReminder";

-- DropTable
DROP TABLE "Org";

-- DropTable
DROP TABLE "OwnerProfile";

-- DropTable
DROP TABLE "PropertyManagerProfile";

-- DropTable
DROP TABLE "TechnicianProfile";

-- DropTable
DROP TABLE "TenantProfile";

-- DropEnum
DROP TYPE "SubscriptionPlan";

